# toggle dark mode by pressing d
toggle_dark_mode d 

# use command instead of ctrl for common keyboard shortcuts
overview               <D-f>       # ⌘+F and so on
search                 <D-S-f>
next_page              <D-right>
prev_page              <D-left>
zoom_in                <D-equals>
zoom_out               <D-minus>
toggle_fullscreen      <D-return>
fit_to_page_width      <D-9>
copy                   <D-c>
close_window           <D-w>
