startup_commands toggle_custom_color

should_launch_new_window 1

dark_mode_background_color           #1e1e2e

# === CATPPUCCIN MOCHA === #
# background_color           #1e1e2e
#
# text_highlight_color       #f9e2af
# visual_mark_color          #7f849c
#
# search_highlight_color     #f9e2af
# link_highlight_color       #89b4fa
# synctex_highlight_color    #a6e3a1
#
# highlight_color_a          #f9e2af
# highlight_color_b          #a6e3a1
# highlight_color_c          #89dceb
# highlight_color_d          #eba0ac
# highlight_color_e          #cba6f7
# highlight_color_f          #f38ba8
# highlight_color_g          #f9e2af
#
#
# custom_background_color    #1e1e2e
# custom_text_color          #cdd6f4
#
# ui_text_color              #cdd6f4
# ui_background_color        #313245
# ui_selected_text_color     #cdd6f4
# ui_selected_background_color #585b70
#
# status_bar_color           #313244
# status_bar_text_color      #cdd6f4

# === CATPPUCCIN LATTE === #
background_color           #eff1f5

text_highlight_color       #df8e1d
visual_mark_color          #8c8fa1

search_highlight_color     #df8e1d
link_highlight_color       #1e66f5
synctex_highlight_color    #40a02b

highlight_color_a          #df8e1d
highlight_color_b          #40a02b
highlight_color_c          #04a5e5
highlight_color_d          #e64553
highlight_color_e          #8839ef
highlight_color_f          #d20f39
highlight_color_g          #df8e1d


custom_background_color    #eff1f5
custom_text_color          #4c4f69

ui_text_color              #4c4f69
ui_background_color        #ccd0da
ui_selected_text_color     #4c4f69
ui_selected_background_color #acb0be

status_bar_color           #ccd0da
status_bar_text_color      #4c4f69

# vimtex sync
vimtex_wsl_fix 1
